.cu.chat {
  line-height: 1;
}

.cu.chat img {
  vertical-align: top;
}

header.ts.slate {
  background-color: #3e5099;
}

header.ts.slate h1.header {
  color: #FFF;
  font-weight: 100;
}

header.ts.slate .cu.chat {
  margin: 0 auto;
  max-width: 500px;
}

.grid {
  margin: 0rem !important;
}

.grid > .column {
  padding-top: 1rem !important;
  padding-left: 1.6em !important;
  padding-right: 1.6em !important;
}

.grid > .column:not(nav) {
  width: calc(100vw - 400px);
}

.header {
  font-weight: normal !important;
}

.header a.anchor {
  color: #6362dc;
  opacity: 0.1;
  margin-left: -0.6em;
  transition: .1s;
}

.header:hover a.anchor {
  opacity: 1;
}

nav {
  background-color: #33417c;
  max-width: 400px;
}

nav .header {
  color: #FFF !important;
}

nav .item {
  font-size: 16px;
}

nav .item:hover {
  background: #283468 !important;
}

nav .item:active {
  background: #1d264a !important;
}

code.hljs {
  font-family: 'Ubuntu Mono', monospace;
  word-break: break-all;
  background: #fff0 !important;
}

code.hljs > span {
  font-family: 'Ubuntu Mono', monospace;
  word-break: break-all;
}

code.hljs > span > span {
  font-family: 'Ubuntu Mono', monospace;
  word-break: break-all;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
  word-break: break-all;
}

.code mark {
  font-family: 'Ubuntu Mono', monospace;
  word-break: break-all;
}

.ts.top.attached.label:first-child + :not(.attached) {
  margin-top: 0rem !important;
}

pre {
  margin: 0px;
}

@media (max-width: 768px) {
  nav {
    max-width: 100vw;
    padding-right: .5em !important;
    padding-left: .5em !important;
    max-height: 400px;
    overflow-y: scroll;
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
