header.ts.slate {
  background-color: #3e5099;
  margin-left: -1.6rem;
  margin-right: -1.6rem;
  width: calc(100% + 3.2rem) !important;
}

header.ts.slate h1.header {
  color: #FFF;
  font-weight: 100;
}

header.ts.slate .cu.chat {
  margin: 0 auto;
  max-width: 500px;
}

.grid {
  margin: 0rem !important;
}

.grid > #content {
  overflow-y: auto;
  max-height: 100vh;
  padding-top: 1rem !important;
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

.ts.header {
  font-weight: normal !important;
  min-height: 1.25em;
}

.ts.header a.anchor {
  color: #6362dc;
  opacity: 0.1;
  margin-left: -0.6em;
  transition: .1s;
}

.ts.header:hover a.anchor {
  opacity: 1;
}

#navbar {
  margin-top: -1rem;
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}

#navbar a.item[href='#sidebar'] {
  display: none;
}

#navbar, #sidebar > nav {
  background-color: #33417c;
}

#navbar .item, #sidebar > nav .item {
  font-size: 16px;
}

#navbar .item.active, #sidebar > nav .item.active {
  background: #0000 !important;
  pointer-events: none;
}

#navbar .item:hover, #sidebar > nav .item:hover {
  background: #283468 !important;
}

#navbar .item:active, #sidebar > nav .item:active {
  background: #1d264a !important;
}

#sidebar {
  padding: 0;
  height: 100vh;
}

#sidebar nav {
  padding-top: 1rem !important;
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
  max-width: 400px;
  margin: 0 !important;
  overflow-y: scroll;
  max-height: 100vh;
  margin-top: 0em !important;
}

#sidebar nav .header {
  color: #FFF !important;
}

.ts.segment.code.secondary {
  overflow: hidden;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
  word-break: break-all;
}

.code mark {
  font-family: 'Ubuntu Mono', monospace;
  word-break: break-all;
}

.ts.top.attached.label:first-child + :not(.attached) {
  margin-top: 0rem !important;
}

.prettyprinted {
  overflow-x: scroll;
}

.prettyprinted ol.linenums {
  padding-left: 0;
}

.prettyprinted li.L0, .prettyprinted li.L1, .prettyprinted li.L2, .prettyprinted li.L3, .prettyprinted li.L4,
.prettyprinted li.L5, .prettyprinted li.L6, .prettyprinted li.L7, .prettyprinted li.L8, .prettyprinted li.L9 {
  list-style-type: none !important;
  white-space: inherit;
}

.prettyprinted li.L1, .prettyprinted li.L3, .prettyprinted li.L5, .prettyprinted li.L7, .prettyprinted li.L9 {
  background: #0000;
}

.prettyprinted .tag {
  color: #a600b1;
}

pre {
  margin: 0px;
}

@media (max-width: 768px) {
  header.ts.slate {
    margin-top: 2.7rem;
  }
  #navbar {
    margin-top: -1rem;
    height: 3.75em;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: linear-gradient(to right, #33417c, #3e5099);
  }
  #navbar a.item[href='#sidebar'] {
    display: flex;
  }
  #navbar a.item[href='https://git.io/esc'] {
    display: none;
  }
  #sidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    padding: 0 !important;
    z-index: 5;
  }
  #sidebar nav {
    max-width: 400px;
    height: 100%;
    overflow-y: scroll;
    z-index: 6;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform .25s ease;
    margin-top: 0 !important;
  }
  #sidebar > a.close {
    background: rgba(11, 0, 29, 0.46);
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    visibility: hidden;
    z-index: 5;
    top: 0;
    left: 0;
    transition: opacity .25s ease;
    opacity: 0;
  }
  #sidebar:target, #sidebar:target > a.close {
    visibility: visible;
  }
  #sidebar:target > nav {
    transform: none;
  }
  #sidebar:target > a.close {
    opacity: 1;
  }
  #content {
    width: 100vw !important;
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
