.ts.hidden.divider
p Chat UI , Made with <span style="color: #e25555;">&#9829;</span> in Taiwan
    br
    | Code licensed <a href="https://github.com/EarlySpringCommitee/ChatUI/blob/master/LICENSE">MIT</a> , docs <a href="https://creativecommons.org/licenses/by/4.0/deed.zh_TW">CC BY 4.0</a>
.ts.hidden.divider