title Chat UI
include ./jade/_tags.jade
+social_tags('ChatUI',' 擁有許多對話氣泡，讓你輕鬆建立一間聊天室的前端 CSS 框架','og.jpg','https://earlyspringcommitee.github.io/ChatUIDoc/')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
// Tocas UI
include ./jade/_tocasui.jade
// Chat UI
link(href='https://earlyspringcommitee.github.io/ChatUI/css/ChatUI.css', rel='stylesheet')
// typingCarousel https://codepen.io/gschier/pen/jkivt 
script(src='./js/typingCarousel.js')
// Doc
link(href='./css/doc.css', rel='stylesheet')
script(src='./js/doc.js')