header.ts.fluid.vertically.padded.heading.slate
    .ts.narrow.container
        h1.ts.header.center.aligned Chat UI
        .cu.chat(data-style='telegram')
            // 左側短文字訊息
            .message.text
                .avatar
                    img(src='https://i.imgur.com/9UJEBxp.png')
                .content
                    .author 棒棒勝
                    .text
                        p 歡迎來到 Chat UI
                    .meta
                        .item
            // 右側短文字訊息
            .message.text.right.read
                .content
                    .text
                        span.txt-rotate(data-period='2000', 
                                        data-rotate='["尼豪！", "Hello!", "ハロー！", "Bonjour!"]')
                    .meta
                        .item