//- NAV 用模板
mixin NAVlink(name,link) 
    -if(link)
        a.item(href=link)=name
    -else
        a.item(href='#'+name)=name

#sidebar.column
    nav.ts.borderless.secondary.relaxed.vertical.menu.inverted
        h3.ts.header 從這開始
        +NAVlink('開始使用')
        +NAVlink('引用')
        +NAVlink('外部引用')
        +NAVlink('範例')
        h3.ts.header 基本元素
        +NAVlink('聊天室')
        +NAVlink('樣式')
        +NAVlink('訊息')
        +NAVlink('右側訊息')
        +NAVlink('已讀')
        +NAVlink('頭貼')
        +NAVlink('圖片訊息')
        +NAVlink('單一圖片訊息')
        +NAVlink('影片訊息')
        +NAVlink('單一影片訊息')
        +NAVlink('嵌入框架訊息')
        +NAVlink('單一嵌入框架訊息')
        +NAVlink('連結預覽')
        h4.ts.header 樣式
        +NAVlink('樣式介紹')
        h4.ts.header Messenger
        +NAVlink('Messenger 無法使用的元素')
        h4.ts.header Telegram
        +NAVlink('Telegram 無法使用的元素')
    a.close(href='#close')