doctype html
html
    head
        include _head.pug
    body
        include _header.pug
        .ts.stackable.grid
            include _nav.pug
            .twelve.wide.column 4
        
        include _footer.pug