doctype html
html
	head
		include _head.pug
	body
		.ts.stackable.grid
			include _nav.pug
			#content.stretched.column
				#navbar.ts.inverted.primary.menu.top.attached.horizontally.fluid.borderless
					a.item(href='#sidebar')
						i.sidebar.icon
					a.active.item Chat UI
					.right.menu
						a.item(href='https://git.io/esc') 始春延期委員會 
						a.item(href='https://github.com/EarlySpringCommitee/ChatUI') GitHub
				include _header.pug
				+bigheader('開始使用','從這裡開始吧')
				+header('下載','戳下去，快')
				a.ts.labeled.icon.primary.small.button(href="https://github.com/EarlySpringCommitee/ChatUI/releases/latest" target="_blank")
					i.download.icon
					| 下載
				+header('引用','下載並解壓縮後，保持資料夾結構，丟到你的網頁目錄，即可開始使用！')
				+code
					:markdown-it
						```html
						<!-- Chat UI -->
						<link href="/path/to/css/ChatUI.css" rel="stylesheet">
						```
				+header('外部引用','不放在自家伺服器的方法')
				+code
					:markdown-it
						```html
						<!-- Chat UI -->
						<link href="https://earlyspringcommitee.github.io/ChatUI/css/ChatUI.css" rel="stylesheet">
						```
				+header('範例','連結在下面，自己戳戳')
				a(href='https://earlyspringcommitee.github.io/ChatUI/test/testMsgr.html') Msgr
				br
				a(href='https://earlyspringcommitee.github.io/ChatUI/test/testTele.html') Telegram
				+bigheader('基本元素','')
				+header('聊天室','輕鬆開聊')
				p 使用 
					code='<div class="cu chat">'
					|   來建立一個聊天室
				+code
					:markdown-it
						```html
						<div class="cu chat">
						</div>
						```
				+header('樣式','也可以自己寫喔')
				p 建立聊天室後，別忘了透過 
					code data-style
					|   指定樣式
				+code
					:markdown-it
						```html
						<!-- 使用 Telegram 樣式 -->
						<div class="cu chat" data-style="telegram">
						</div>
						```
				+header('訊息','傳遞給你我的第一則文字訊息')
				p 請記住，任何訊息都要放在聊天室內
				.cu.chat(data-style='telegram')
					.message.text
						.avatar
							img(src='https://i.imgur.com/6oTWGHZ.png')
						.content
							.author 熊貓貓
							.text
								p 尼好，世界
							.meta
								.item 13:20
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message text">
								<!-- 大頭貼 -->
								<div class="avatar">
									<img src="https://i.imgur.com/6oTWGHZ.png"/>
								</div>
								<!-- 內容 -->
								<div class="content">
									<!-- 傳訊者 -->
									<div class="author">
										熊貓貓
									</div>
									<!-- 文字 -->
									<div class="text">
										<p>尼好，世界</p>
									</div>
									<!-- 中繼資料 -->
									<div class="meta">
										<div class="item">
											13:20
										</div>
									</div>
								</div>
							 </div>
						</div>
						```
				+header('右側訊息','訊息可以在右側，就像自己傳送的一樣')
				p 訊息加入 
					code right
					|  class 就能靠右了
				.cu.chat(data-style='telegram')
					.message.text.right
						.avatar
							img(src='https://i.imgur.com/6oTWGHZ.png')
						.content
							.author 熊貓貓
							.text
								p 藍藍的天空，承載了許多想像
							.meta
								.item 13:20
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message text right">
								...
							 </div>
						</div>
						```
				+header('已讀','您可能已經注意到了，在右側訊息內會顯示打勾代表已傳送，在這裡，您可以使用雙勾代表已讀')
				p 訊息加入 
					code read
					|  class 就能變成已讀
				.cu.chat(data-style='telegram')
					.message.text.right.read
						.avatar
							img(src='https://i.imgur.com/6oTWGHZ.png')
						.content
							.author 熊貓貓
							.text
								p 下過雨的天空，灰灰的，有點溫柔
							.meta
								.item 13:20
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message text right read">
								...
							 </div>
						</div>
						```
				+header('頭貼','「我沒設大頭貼」 O3O')
				p 使用 
					code avatar
					|   來為訊息加上頭貼
				.cu.chat(data-style='telegram')
					.message.text
						.avatar
							img(src='https://i.imgur.com/6oTWGHZ.png')
						.content
							.author 熊貓貓
							.text
								p 下過雨的天空，灰灰的，有點溫柔
							.meta
								.item 13:20
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message text">
								<!-- 大頭貼 -->
								<div class="avatar">
									<img src="https://i.imgur.com/6oTWGHZ.png"/>
								</div>
								...
							 </div>
						</div>
						```
				p 使用
					code data-initial
					|   來為沒頭貼雞掰人的頭貼區加點文字
				.cu.chat(data-style='telegram')
					.message.text
						.avatar(data-initial='紫')
						.content
							.author 紫色派大星
							.text
								p ㄏㄏ，我就是沒設大頭貼啊，咬我啊
							.meta
								.item 13:20
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message text">
								<!-- 大頭貼 -->
								<div class="avatar" data-initial="紫"></div>
								...
							 </div>
						</div>
						```
				+header('圖片訊息','你想看我去西班牙拍的照片嗎')
				p 使用 
					code img
					|   class 和
					code="<img>"
					|   標籤即可在訊息內加入圖片
				.cu.chat(data-style='telegram')
					.message.img
						.avatar(data-initial='熊')
						.content
							.author 熊貓貓
							img(src='https://i.imgur.com/VJJ0zYN.gif')
							.text
								p 別擔心，孩子。
								p 當你跟我一樣有了工作，你會錯過每個夏天。
							.meta
								.item 15:30
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message img">
								<div class="avatar" data-initial="熊"></div>
								<div class="content">
									<div class="author">
										熊貓貓
									</div>
									<img src="https://i.imgur.com/VJJ0zYN.gif">
									<div class="text">
										<p>別擔心，孩子。</p>
										<p>當你跟我一樣有了工作，你會錯過每個夏天。</p>
									</div>
									<div class="meta">
										<div class="item">
											15:30
										</div>
									</div>
								</div>
							</div>
						</div>
						```
				+header('單一圖片訊息','快看，是一張圖片')
				p 使用
					code img only
					|   class 來表示該訊息僅有一張圖片，此時訊息內不可放置文字內容
				.cu.chat(data-style='telegram')
					.message.img.only
						.avatar(data-initial='熊')
						.content
							-var random = Math.floor(Math.random()*999)
							img(src='https://placem.at/things?w=800&txt=ChatUI&random='+random)
							.meta
								.item 15:30
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message img only">
								<div class="avatar" data-initial="熊"></div>
								<div class="content">
									<img src="https://placem.at/things?w=800&random=250">
									<div class="meta">
										<div class="item">15:30</div>
									</div>
								</div>
							 </div>
						</div>
						```
				+header('影片訊息','')
				p 使用 
					code video
					|   class 和
					code="<video>"
					|   標籤即可在訊息內加入影片
				.cu.chat(data-style='telegram')
					.message.video
						.avatar
							img(src='https://i.imgur.com/6oTWGHZ.png')
						.content
							.author 熊貓貓
							video(src='https://www.coverr.co/s3/mp4/Down-time.mp4',controls)
							.text 我喜歡狗狗
							.meta
								.item 15:38
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message video">
								<div class="avatar"><img src="https://i.imgur.com/6oTWGHZ.png"></div>
								<div class="content">
									<div class="author">
										熊貓貓
									</div>
									<video src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls=""></video>
									<div class="text">我喜歡狗狗</div>
									<div class="meta">
										<div class="item">15:38</div>
									</div>
								</div>
							</div>
						</div>
						```
				+header('單一影片訊息','')
				p 使用
					code video only
					|   class 來表示該訊息僅有影片，此時訊息內不可放置文字內容
				.cu.chat(data-style='telegram')
					.message.video.only
						.avatar
							img(src='https://i.imgur.com/6oTWGHZ.png')
						.content
							video(src='https://www.coverr.co/s3/mp4/Down-time.mp4',controls)
							.meta
								.item 15:38
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message video only">
								<div class="avatar"><img src="https://i.imgur.com/6oTWGHZ.png"></div>
								<div class="content">
									<video src="https://www.coverr.co/s3/mp4/Down-time.mp4" controls></video>
									<div class="meta">
										<div class="item">15:38</div>
									</div>
								</div>
							</div>
						</div>
						```
				+header('嵌入框架訊息','')
				p 使用 
					code iframe
					|   class 和
					code="<iframe>"
					|   標籤即可在訊息內加入嵌入框架
				.cu.chat(data-style='telegram')
					.message.iframe
						.avatar
							img(src='https://i.imgur.com/nMMGqle.png')
						.content
							.author 丹尼斯
							<iframe src="https://www.youtube.com/embed/yvU7OkeJCPA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							.text 這是偶演ㄉ動畫
							.meta
								.item 15:38
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message iframe">
								...
								<div class="content">
									<div class="author">丹尼斯</div>
									<iframe src="https://www.youtube.com/embed/yvU7OkeJCPA" allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0"></iframe>
									...
								</div>
							</div>
						</div>
						```
				+header('單一嵌入框架訊息','不管想塞什麼進去都可以喔？！')
				p 使用
					code iframe only
					|   class 來表示該訊息僅有嵌入框架，此時訊息內不可放置文字內容
				.cu.chat(data-style='telegram')
					.message.iframe.only
						.avatar
							img(src='https://i.imgur.com/nMMGqle.png')
						.content
							<iframe src="https://www.youtube.com/embed/yvU7OkeJCPA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							.meta
								.item 15:38
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message iframe only">
								...
								<div class="content">
									...
									<iframe src="https://www.youtube.com/embed/yvU7OkeJCPA" allow="autoplay; encrypted-media" allowfullscreen="" frameborder="0"></iframe>
									...
								</div>
							</div>
						</div>
						```
				+header('連結預覽','')
				p 使用 
					code perview
					|   class 來建立一個連結預覽
				.cu.chat(data-style='telegram')
					.message.text.perview
						.avatar
							img(src='https://i.imgur.com/6oTWGHZ.png')
						.content
							.author 熊貓貓
							.text
								a(href='https://gnehs.net/') https://gnehs.net/
							.perview
								.title 棒棒勝
								.header 可愛ㄉ棒棒勝喔
								.description 住在某鬼島ㄉ高中生
								img(src='https://avatars0.githubusercontent.com/u/16719720')
							.meta
								.item 16:05
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="telegram">
							<div class="message text perview">
								<div class="avatar"><img src="https://i.imgur.com/6oTWGHZ.png"></div>
								<div class="content">
									...
									<div class="perview">
										<div class="title">棒棒勝</div>
										<div class="header">可愛ㄉ棒棒勝喔</div>
										<div class="description">住在某鬼島ㄉ高中生</div>
										<img src="https://avatars0.githubusercontent.com/u/16719720">
									</div>
									...
								</div>
							</div>
						</div>
						```
				+header('分隔線','嘿，這是我昨天的訊息，快看看')
				p 如果你要會飄的，因為還沒寫 js 套件，所以還很 bug
				.cu.chat(data-style='telegram')
					divider 2月31日
					.message.text.right
						.content
							.text
								p 我身處新世界
							.meta
								.item 13:23
				+code
					:markdown-it
						```html
						<divider>2月31日</divider>
						```
				+bigheader('進階','一些你可能不是那麼常用的東西')
				+header('回覆','我可以回復一大堆鳥東東嗎')
				p 請注意，目前尚不支援圖片
				.cu.chat(data-style='telegram')
					.message.iframe
						.avatar
							img(src='https://i.imgur.com/nMMGqle.png')
						.content
							.author 丹尼斯
							<iframe src="https://www.youtube.com/embed/yvU7OkeJCPA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							.text 這是偶演ㄉ動畫
							.meta
								.item 15:38
					.message.text.right
						.content
							.reply
								.author 丹尼斯
								.content
									.text 影片,這是偶演ㄉ動畫
							.text
								p 哇嗚，超可愛的
							.meta
								.item 13:23
				+code
					:markdown-it
						```html
						<div class="message text right">
							<div class="content">
								<div class="reply">
									<div class="author">丹尼斯</div>
									<div class="content">
									<div class="text">影片,這是偶演ㄉ動畫</div>
									</div>
								</div>
								<div class="text">
									<p>哇嗚，超可愛的</p>
								</div>
								<div class="meta">
									<div class="item">13:23</div>
								</div>
							</div>
						</div>
						```
				+header('訊息群組','把訊息串在一起')
				.cu.chat(data-style='messenger')
					.message-group
						.message.text
							.avatar(data-initial='熊')
							.content
								.author 熊貓貓
								.text 
									p 我想跟跳跳虎結婚
						.message.text
							.avatar(data-initial='熊')
							.content
								.author 熊貓貓
								.text 
									p 我說跳跳虎
						.message.text
							.avatar(data-initial='熊')
							.content
								.author 熊貓貓
								.text 
									p 頑皮豹也可以啦
				+code
					:markdown-it
						```html
						<div class="cu chat" data-style="messenger">
							<div class="message-group">
								<div class="message text">
								<div class="avatar" data-initial="熊"></div>
								<div class="content">
									<div class="author">熊貓貓</div>
									<div class="text"> 
									<p>我想跟跳跳虎結婚</p>
									</div>
								</div>
								</div>
								<div class="message text">
								<div class="avatar" data-initial="熊"></div>
								<div class="content">
									<div class="author">熊貓貓</div>
									<div class="text"> 
									<p>我說跳跳虎</p>
									</div>
								</div>
								</div>
								<div class="message text">
								<div class="avatar" data-initial="熊"></div>
								<div class="content">
									<div class="author">熊貓貓</div>
									<div class="text"> 
									<p>頑皮豹也可以啦</p>
									</div>
								</div>
								</div>
							</div>
						</div>
						```
				//-
					+bigheader('樣式','')
					+header('樣式介紹','')
					+bigheader('Messenger','')
					+header('Messenger 無法使用的元素','')
					+bigheader('Telegram','')
					+header('Telegram 無法使用的元素','')

		include _footer.pug